html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,b,u,i,pre,a,sub,sup,dl,dt,dd,ol,ul,dir,li,fieldset,legend,form,label,table,tbody,tfoot,thead,tr,th,td,input,textarea,select,option {
	font-family:inherit,Arial,verdana,tahoma,ו;
	color:#000000;
	margin:0px;
	padding:0px;
	font-size:12px;
	line-height:20px;
}
h1,h2,h3,h4,h5,h6 {margin-bottom:20px;}
h1 {font-size:30px;line-height:32px;}
h2 {font-size:27px;line-height:29px;}
h3 {font-size:24px;line-height:26px;}
h4 {font-size:21px;line-height:23px;}
h5 {font-size:18px;line-height:20px;}
h6 {font-size:14px;line-height:16px;}
sub {line-height:20px;}
sup {line-height:20px;}
li {margin-left:30px;}
ol {list-style:decimal;}
ul {list-style:disc;}
dd {margin-left:20px;}
img.intext_left {float:left;}
img.intext_right {float:right;}
img {border:#000000 solid 0px;position:relative;}
p {margin-bottom:20px;}
hr {height:1px;}
iframe {width:100%;height:100%;}

a {
	color:#1B5E8B;text-decoration:none;border-bottom:#1B5E8B solid 0px;
}
a:link {
	
}
a:hover {
	color:#59839F;font-weight:900;border-bottom:#59839F solid 0px;
}
a:active {
	
}
a:visited {
	
}